/vendor
/application/logs
/application/sessions
/application/third_party/Afip_res/*.xml

/resources/clients/*
/resources/persons/*
!/resources/clients/*.html

/resources/payment_signatures/*
!/resources/payment_signatures/*.html

/resources/vouchers/*
!/resources/vouchers/*.html

/resources/clientpacks/*
!/resources/clientpacks/*.html

/application/sql/*.bak